* {
    box-sizing: border-box;
}

body {
margin: 0;
    padding: 0;
    text-align: center;
}

.header { grid-area: header; }
.nav {grid-area: nav; }
.main {grid-area: main; }
.aside {grid-area: aside; }
.footer {grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "main"
    "aside"
    "aside"
    "footer";
}

.header {
    background-color: pink;
    height: 5vh;

}

.nav {
    background-color: purple;
    height: 5vh;

}

.main {
    background-color: green;
    height: 42.5vh;

}

.aside {
    background-color: yellow;
    height: 42.5vh;
}

.footer {
    background-color: blue;
    height: 5vh;
}

@media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main aside aside"
    "main main aside aside"
    "footer footer footer footer";
    }
    .main, .aside {
        height: 85vh;
    }
    .header, .nav, .footer {
        height: 10vh;
    }
}

@media only screen and (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-areas:
    "header nav nav nav"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer";
    }
    .main, .aside {
        height: 85vh;
    }
    .header, .nav, .footer {
        height: 10vh;
    }
}