.centerContent {
    text-align: center;
    background-color: lightgray;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.inputStyle {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.buttonStyle {
    border-radius: 10px;
    margin: 10px;
}

.ulStyle li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
.ulStyle li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.ulStyle li:hover {
    background: #ddd;
}

.h1Style {
    background-color: lightgrey;
}

.h3Style {
    background-color: lightgray;
}

.pStyle {
    background-color: lightgrey;
    font-size: 18px;
}