* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/Waves.jpg);
    background-size: cover;
    margin: 0;
    padding-bottom: 92px;
}

header {
    text-align: center;
    padding-bottom: 2em;
}

div {
    background-color: white;
    margin: auto auto 5em auto;
    border: 2px solid black;
    width: 90%;
    padding: 2em;
}

.image-width {
    width: 100%;
    max-width: 500px;
    max-height: 665px;
}

.div-smaller-size-to-better-fit-content {
    width: 90%;
}

.div-even-smaller-size-to-better-fit-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.image-width {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
}

.smaller-div-center-picture {
    align-content: center;
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .image-width {
        max-width: 564px;
    }

    .grid-item {
        margin-left: auto;
        margin-right: auto;
    }

    .div-even-smaller-size-to-better-fit-content {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .div-smaller-size-to-better-fit-content {
        width: 63%;
    }
}


@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item {
        margin-left: auto;
        margin-right: auto;
    }

    .div-even-smaller-size-to-better-fit-content {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .div-smaller-size-to-better-fit-content {
        width: 71%;
    }

}