#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    text-align: center;
}

.navbar-item {
    display: inline-block;
}

.navbar-link {
    display: block;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar-link:hover:not(.active) {
    background-color: mediumaquamarine;
}

.active {
    background-color: mediumaquamarine;
}

@media only screen and (min-width: 768px) {
    .navbar-item {
        display: inline-block;
    }
    #navbar {
        text-align: center;
    }

}