body {
    background-image: url(../img/Waves.jpg);
    background-size: 100%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

.navbar-item {
    float: left;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar-link:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.header {
    text-align: center;
    padding-bottom: 2em;
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    border: 2px solid black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}