body {
    background-image: url(../img/Waves.jpg);
    background-size: 100%;
    margin: 0;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

.navbar-item {
    float: left;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar-link:hover:not(.active) {
    background-color: mediumaquamarine;
}

.active {
    background-color: mediumaquamarine;
}

.header {
    text-align: center;
    padding-bottom: 2em;
}

* {
    box-sizing: border-box;
}

.column1 {
    float: left;
    width: 40%;
    height: 300px;
    padding-left: 4em;
}

.column2 {
    float: left;
    width: 20%;
    height: 500px;
    padding-left: 4em;
}

.column3 {
    float: left;
    width: 43%;
    height: 500px;
    padding-left: 4em;
}

.column4 {
    float: left;
    width: 50%;
    height: 300px;
}