body {
    background-image: url(../img/Waves.jpg);
    background-size: 100%;
    margin: 0;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

.navbar-item {
    float: left;
}

.navbar-link {
    display: block;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
}

.navbar-link:hover:not(.active) {
    background-color: mediumaquamarine;
}

.active {
    background-color: mediumaquamarine;
}

.header {
    text-align: center;
    padding-bottom: 2em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #666;
    color: white;
}

* {
    box-sizing: border-box;
}

.column1 {
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 3em;
    font-size: 18px;
    border: 2px solid black;
}

.column2 {
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 3em;
    font-size: 18px;
    border: 2px solid black;
}

.column3 {
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 3em;
    font-size: 18px;
    border: 2px solid black;
}

.column4 {
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 3em;
    font-size: 18px;
    border: 2px solid black;
}

.column5 {
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 3em;
    font-size: 18px;
    border: 2px solid black;
}

.column6 {
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 3em;
    font-size: 18px;
    border: 2px solid black;
}

.column1b {
    float: left;
    width: 50%;
    height: 500px;
    padding-left: 4em;
    padding-top: 5em;
    border: 2px solid black;
}

.column2b {
    float: left;
    width: 50%;
    height: 500px;
    padding-left: 4em;
    border: 2px solid black;
}

.column3b {
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 20em;
    font-size: 18px;
    border: 2px solid black;
}

.h2center {
    text-align: center;
    padding-top: 2em;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border:1px solid black;
    text-align: center;
    padding: 2px;
}

.zoom {
    padding: 2px;
    transition: transform .2s;
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.middle {
    text-align: center;
    font-size: 1.5em;
}

.middleindex {
    text-align: center;
    font-size: 1.5em;
    padding-top: 3em;
    padding-left: 13em;
    padding-right: 13em;
}

.imgmiddle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

